In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# выносим profit
data['profit'] = data['revenue'] - data['budget']
# выделяем месяц создания фильма
data['release_date'] = pd.to_datetime(data['release_date']) 
data['release_month'] = data['release_date'].dt.month
# выделяем количество символов в названии
data['length'] = data.original_title.map(lambda x: len(x) - x.count(" "))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [5]:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [6]:
data[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 3

In [7]:
data.query('budget == budget.max()')[['imdb_id', 'budget', 'original_title']]

       imdb_id     budget                               original_title
723  tt1298650  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [9]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [11]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '109.658549'
# +

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107.0'
# +

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [19]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'
# +

In [21]:
data[data['profit'] > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [23]:
data_1 = data[data['release_year'] == 2008][['imdb_id', 'original_title', 'revenue', 'release_year']]
data_1[data_1['revenue'] == data_1['revenue'].max()]

       imdb_id   original_title     revenue  release_year
599  tt0468569  The Dark Knight  1001921825          2008

ВАРИАНТ 2

In [24]:
data[data['release_year'] == 2008][['imdb_id', 'revenue', 'original_title']].sort_values('revenue', ascending = False).head(1)

       imdb_id     revenue   original_title
599  tt0468569  1001921825  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [26]:
data[(data.release_year>2012) & (data.release_year<=2014) ][['imdb_id', 'revenue', 'profit', 'original_title',]].sort_values('profit', ascending = True). head(1)

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

ВАРИАНТ 2

In [27]:
data.query('2012<=release_year<=2014')[['imdb_id', 'revenue', 'profit', 'original_title']].sort_values('profit', ascending = True).head(1)

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama'
# +

In [29]:
import collections
count = collections.Counter()
new_data = data['genres'].str.split('|', expand = False)
for lists in new_data:
    for word in lists:
        count[word]+=1
count.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [30]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'
# +

In [32]:
import collections
count = collections.Counter()

new_data = data[data['profit'] > 0]['genres'].str.split('|', expand = False)
for lists in new_data:
    for word in lists:
        count[word]+=1 
count.most_common(1)

[('Drama', 560)]

ВАРИАНТ 2

In [33]:
new_data = data[data['profit'] > 0]
pd.DataFrame(new_data.genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = 'Peter Jackson'
# +

In [35]:
data.groupby('director')[['revenue']].sum().sort_values('revenue', ascending = False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez'
# +

ВАРИАНТ 2 (подсмотрел)

In [37]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
print(sum_gen)

Robert Rodriguez         9
Michael Bay              7
Paul W.S. Anderson       7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Ron Underwood            1
Andrew Dominik           1
Philip G. Atwell         1
Paul Weitz               1
John Michael McDonagh    1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'
# +

In [39]:
sum_revenue = 0
new_data = data[data['release_year'] == 2012]
a = pd.Series(new_data.cast.str.cat(sep = '|').split('|')).value_counts()

count = Counter()
for i in range(0,len(new_data)):
    for k in new_data.iloc[i]['cast'].split('|'):
        count[k] += new_data.iloc[i]['revenue']
count.most_common(1)

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'
# +

In [41]:
data_budget = data[data['budget'] > data['budget'].mean()]
pd.Series(data_budget.cast.str.cat(sep = '|').split('|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Corey Burton          1
Noel Fisher           1
Maggie Smith          1
Bryan Brown           1
James Woods           1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'
# +

In [43]:
count_genres = Counter()
for i in data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres += Counter(i)
count_genres.most_common()

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [45]:
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
data_new[['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending = True).head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

РЕШЕНИЕ 2

In [46]:
data[data.production_companies.str.contains('Paramount Pictures')][['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending = True).head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
answers['19'] = '2015'
# +

In [48]:
pd.DataFrame(data.groupby(by = 'release_year').revenue.sum()).sort_values('revenue', ascending = False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = '2014'
# +

In [50]:
data_new = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_new.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head(1)

                  profit
release_year
2014          2295464519

In [51]:
col = collections.Counter()
for i in range(0, len(data)):
    if 'Warner Bros.' in data['production_companies'].loc[i]:
        col[data['release_year'].iloc[i]]+=data['profit'].iloc[i]
display(col.most_common())

[(2014, 2295464519),
 (2007, 2201675217),
 (2008, 2134595031),
 (2010, 1974712985),
 (2011, 1871393682),
 (2003, 1855493377),
 (2009, 1822454136),
 (2013, 1636453400),
 (2004, 1631933725),
 (2005, 1551980298),
 (2001, 1343545668),
 (2012, 1258020056),
 (2002, 1022709901),
 (2015, 870368348),
 (2006, 620170743),
 (2000, 452631386)]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21'] = 'Сентябрь'
# +

In [53]:
data['release_date'] = pd.to_datetime(data['release_date']) 
data['release_month'] = data['release_date'].dt.month
data[['imdb_id','release_month']].groupby(by = 'release_month').count().sort_values('imdb_id', ascending = False)

               imdb_id
release_month
9                  227
12                 190
10                 186
8                  161
3                  156
4                  149
6                  147
11                 146
7                  142
5                  140
2                  135
1                  110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
answers['22'] = '450'
# +

In [55]:
data.query('release_month in ["6","7","8"] ')[['imdb_id']].count()

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = 'Peter Jackson'
# +

In [57]:
data.query('release_month in ["12", "1", "2"]')[['director','imdb_id']].groupby(by = 'director').count().sort_values('imdb_id', ascending = False).head(1)

               imdb_id
director
Peter Jackson        7

ВАРИАНТ 2

In [58]:
new_data = data.query('release_month in ["12", "1", "2"]')[['director','imdb_id']]
pd.Series(new_data.director.str.cat(sep = '|').split('|')).value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Breck Eisner         1
James Cameron        1
Seth Rogen           1
Kenneth Branagh      1
John Hamburg         1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = 'Four By Two Productions'
# +

In [60]:
data['length'] = data.original_title.map(lambda x: len(x))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length']].groupby('company').mean().sort_values('length', ascending = False).head(1)

                         length
company
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25'] = 'Midnight Picture Show'
# +

In [62]:
data['length_overview'] = data.overview.map(lambda x: len(x.split(" ")))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length_overview']].groupby('company').mean().sort_values('length_overview', ascending = False).head(1)

                       length_overview
company
Midnight Picture Show            175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
answers['26'] = 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel'
# +

In [64]:
sort_data = data[['imdb_id', 'original_title', 'vote_average']].sort_values('vote_average', ascending = False)
sort_data[sort_data['vote_average'] > sort_data['vote_average'].quantile(0.99)]

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
1183  tt0993846                        The Wolf of Wall Street           7.9
128   tt2267998                                      Gone Girl           7.9
1191  tt2024544                               12 Years a Slave           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1800  tt0209144                                        Memento           7.9
370   tt1375666                                      Inception           7.9
872   tt0253474                                    The Pianist           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'
# +

In [66]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Kristen Stewart Taylor Lautner      5
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Name: actor_combinations, dtype: int64

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.658549',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [68]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [75]:
"""коментарии"""
def most_common_data(data):
    count=collections.Counter()
    new_data = data.str.split('|', expand = False)
    for lists in new_data:
        for word in lists:
            count[word]+=1
    return count.most_common(1)

In [76]:
most_common_data(data[data['profit']>0]['genres'])

[('Drama', 560)]

In [74]:
data[data['profit']>0]['genres']

0       Action|Adventure|Science Fiction|Thriller
1       Action|Adventure|Science Fiction|Thriller
2              Adventure|Science Fiction|Thriller
3        Action|Adventure|Science Fiction|Fantasy
4                           Action|Crime|Thriller
                          ...
1871                                       Comedy
1875                        Fantasy|Comedy|Family
1877                  Action|Comedy|Drama|Romance
1883                         Romance|Comedy|Drama
1884             Adventure|Action|Science Fiction
Name: genres, Length: 1478, dtype: object