In [1]:
#importing used tools
import pandas as pd
import collections                #i do this import because of strange behavior on my system with global imports
from collections import Counter   #same

In [2]:
#reading! sampling and checking data just for the sakes of it
data = pd.read_csv('movie_bd_v5.csv')
display(data.sample(2))
data.describe()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1742,tt0897361,12000000,9620399,I Know Who Killed Me,Lindsay Lohan|Julia Ormond|Neal McDonough|Bria...,Chris Sivertson,There are two sides to every crime.,An idyllic small town is rocked when Aubrey Fl...,105,Crime|Horror|Mystery|Thriller,TriStar Pictures|360 Pictures,7/27/2007,3.8,2007
1289,tt0795461,20000000,78378744,Scary Movie 5,Simon Rex|Ashley Tisdale|Charlie Sheen|Lindsay...,Malcolm D. Lee,Evil is coming. Bring protection.,"Home with their newly-formed family, happy par...",86,Comedy,Dimension Films,4/11/2013,4.6,2013

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
#creating a dictionary for the answers
answers = {}

"""data preprocess:"""

#getting all the profits
data['profit'] = data['revenue']-data['budget']
display(data['profit'])

#getting only the months of release
data['release_date'] = pd.to_datetime(data['release_date']) #getting date
data['release_month'] = data['release_date'].dt.month       #getting month
display(data['release_month'])

#getting the lenght of the title minus empty space
data['length'] = data.original_title.map(lambda x: len(x) - x.count(" "))
display(data['length'])


"""defining most common function"""
def most_common_data(data):
    count=collections.Counter()                             #initialize collections.counter
    new_data = data.str.split('|', expand = False)          #splitting string data by |
    for lists in new_data:                                  #count cycle
        for word in lists:
            count[word]+=1
    return count.most_common(1)

0       1363528810
1        228436354
2        185238201
3       1868178225
4       1316249360
           ...
1884      82299717
1885      -8444012
1886     -40865180
1887      -3962091
1888      -9782502
Name: profit, Length: 1889, dtype: int64

0        6
1        5
2        3
3       12
4        4
        ..
1884     7
1885    10
1886     6
1887     2
1888     7
Name: release_month, Length: 1889, dtype: int64

0       13
1       15
2        9
3       24
4        8
        ..
1884     5
1885    16
1886    31
1887     9
1888    10
Name: length, Length: 1889, dtype: int64

# 1. У какого фильма из списка самый большой бюджет?

In [4]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#correct

ВАРИАНТ 1

In [5]:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [6]:
print(data.original_title[data.budget.idxmax()])

Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'
#correct

ВАРИАНТ 1

In [8]:
data.loc[data.runtime==data.runtime.max(),['original_title','imdb_id']].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

ВАРИАНТ 2

In [9]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
#correct

ВАРИАНТ 1

In [11]:
data.loc[data.runtime==data.runtime.min(),['original_title','imdb_id']].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

ВАРИАНТ 2

In [12]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '109.658549'
#correct

ВАРИАНТ 1

In [14]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107.0'
#correct

ВАРИАНТ 1

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание!(прибыль = сборы - бюджет) (profit = revenue - budget) 
see preprocess in the beginning

In [17]:
answers['6'] = 'Avatar (tt0499549)'
#correct

ВАРИАНТ 1

In [18]:
data.loc[data.profit==data.profit.max(),['original_title','imdb_id']].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

ВАРИАНТ 2

In [19]:
#see preprocess in the beginning
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'
#correct

ВАРИАНТ 1

In [21]:
data.loc[data.profit==data.profit.min(),['original_title','imdb_id']].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

ВАРИАНТ 2

In [22]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'
#correct

ВАРИАНТ 1

In [24]:
data.loc[(data.profit)>0].shape[0]

1478

ВАРИАНТ 2

In [25]:
data[data['profit'] > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = 'The Dark Knight (tt0468569)'
#correct

ВАРИАНТ 1

In [27]:
data.loc[data.release_year == 2008].sort_values(by='profit',ascending = False)[['original_title','imdb_id',]].values[0]

array(['The Dark Knight', 'tt0468569'], dtype=object)

ВАРИАНТ 2

In [28]:
data[data.release_year == 2008][['imdb_id', 'revenue', 'profit', 'original_title',]].sort_values('profit', ascending = False). head(1)

       imdb_id     revenue     profit   original_title
599  tt0468569  1001921825  816921825  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = 'The Lone Ranger (tt1210819)'
#correct

ВАРИАНТ 1

In [30]:
data.loc[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(by='profit',ascending = True)[['original_title','imdb_id',]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

ВАРИАНТ 2

In [31]:
data[(data.release_year>2012) & (data.release_year<=2014) ][['imdb_id', 'revenue', 'profit', 'original_title',]].sort_values('profit', ascending = True). head(1)

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?
see preprocess function description

In [32]:
answers['11'] = 'Drama'
#correct

ВАРИАНТ 1

In [33]:
#using predefined function
most_common_data(data['genres'])

[('Drama', 782)]

ВАРИАНТ 2

In [34]:
Counter(data['genres'].str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 3

In [35]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = 'Drama'
#correct

ВАРИАНТ 1

In [37]:
#using predefined function
most_common_data(data[data['profit'] > 0]['genres'])

[('Drama', 560)]

ВАРИАНТ 2

In [38]:
Counter(data[data['profit'] > 0]['genres'].str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
answers['13'] = 'Peter Jackson'
#correct

ВАРИАНТ 1

In [40]:
df = data.copy()
df['dirs'] = df['director'].str.split('|')
dirs_cut = df.explode('dirs')
data_grp = dirs_cut.groupby(['dirs']).revenue.sum()
data_grp.sort_values(ascending =False)

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

ВАРИАНТ 2

In [41]:
data.groupby('director')[['revenue']].sum().sort_values('revenue', ascending = False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
answers['14'] = 'Robert Rodriguez'
#correct

ВАРИАНТ 1(угадал)

In [43]:
df = data[data.genres.str.contains('Action')].copy()
df.director.value_counts()

Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
Robert Rodriguez      6
                     ..
George Miller         1
Ilya Naishuller       1
Kerry Conran          1
Pitof                 1
Jonathan Lynn         1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [44]:
answers['15'] = 'Chris Hemsworth'
#correct

ВАРИАНТ 1(угадал)

In [45]:
#data.cast=data.cast.str.split('|',expand=True)
#data[data.release_year == 2012][['cast', 'revenue']].sort_values('revenue', ascending = False). head(1)
#data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
data.loc[data.release_year == 2012].sort_values(by=['revenue'],ascending = False)[['cast','revenue']].values[0]

array(['Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson',
       1519557910], dtype=object)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
answers['16'] = 'Matt Damon'
#correct

ВАРИАНТ 1

In [47]:
data_budget = data[data['budget'] > data['budget'].mean()]
pd.Series(data_budget.cast.str.cat(sep = '|').split('|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
                     ..
Laurie Holden         1
Matthew Lillard       1
Jake Johnson          1
Harland Williams      1
Michael Stuhlbarg     1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [48]:
answers['17'] = 'Action'
#correct

ВАРИАНТ 1

In [49]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#correct

ВАРИАНТ 1

In [51]:
data[data.production_companies.str.contains('Paramount Pictures')][['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending = True).head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

ВАРИАНТ 2

In [52]:
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
data_new[['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending = True).values[0]

array(['tt0267626', 'K-19: The Widowmaker', -64831034], dtype=object)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [53]:
answers['19'] = '2015'
#correct

ВАРИАНТ 1

In [54]:
pd.DataFrame(data.groupby(by = 'release_year').revenue.sum()).sort_values('revenue', ascending = False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [55]:
answers['20'] = '2014'
#correct

ВАРИАНТ 1

In [56]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [57]:
answers['21'] = 'Сентябрь'
#correct

ВАРИАНТ 1

In [58]:
data.groupby(data['release_month'])['imdb_id'].count().sort_values(ascending = False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [59]:
answers['22'] = '450'
#correct

ВАРИАНТ 1

In [60]:
data.query('release_month in ["6","7","8"] ')[['imdb_id']].count()

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [61]:
answers['23'] = 'Peter Jackson'
#correct

ВАРИАНТ 1

In [62]:
data.query('release_month in ["12", "1", "2"]')[['director','imdb_id']].groupby(by = 'director').count().sort_values('imdb_id', ascending = False).head(1)

               imdb_id
director
Peter Jackson        7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?
using predefined data['length']

In [63]:
answers['24'] = 'Four By Two Productions'
#correct

ВАРИАНТ 1(подсмотрено)

In [74]:
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length']].groupby('company').mean().sort_values('length', ascending = False).head(1)

                         length
company
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [65]:
answers['25'] = 'Midnight Picture Show'
#correct

ВАРИАНТ 1(подсмотрено)

In [66]:
data['length_overview'] = data.overview.map(lambda x: len(x.split(" ")))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length_overview']].groupby('company').mean().sort_values('length_overview', ascending = False).head(1)

                       length_overview
company
Midnight Picture Show            175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [67]:
answers['26'] = 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel'
#correct

ВАРИАНТ 1(угадано)

In [68]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'
# +
#'Inside Out, The Dark Knight, 12 Years a Slave '

In [70]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Ben Stiller Owen Wilson             6
Johnny Depp Helena Bonham Carter    6
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Hugh Jackman Ian McKellen           5
Robert Pattinson Taylor Lautner     5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

# Submission

In [71]:
#all answers
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.658549',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [72]:
#re-checking answers
len(answers)

27